.container{
    background-color: #171818;
    text-align: left;
    width: 100vw;
    color : #DEE8FF;
}

.sub-container{
    padding-top: 4rem;
    padding-bottom: 10rem;
}

.heading{
    font-weight: 700;
    padding: 2rem 0;
    font-size: 3.5rem;
}

.sub-heading{
    font-weight: 500;
    padding: 1.5rem 0;
    font-size: 2rem;
    line-height: 2.5rem;
}