h1{
    padding-bottom: 15px;
    font-size: 2.6rem;
}

h4{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.3rem;
}

.container{
    display: flex;
    justify-content: space-between;
}
.blog{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #8C8C8C;
    padding: 0 !important;
}

.blogHead{
    font-weight: 700;
    font-size: 3.45rem;
    font-family: Archivo;
}
.gridContainer{
    display: flex;
    flex-direction: column;
}

.category{
    padding: 0;
    font-size: 2.3rem;
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 1.2rem;
    font-family: Archivo;
}

.category-btn{
    font-family: Open Sans;
    cursor: pointer;
}

.heading{
  margin: 3rem 0 1rem 0 ;
  line-height: 72px;
}

@media (max-width: 990px) {
    .horizontalGrid{
        width: 100% !important;
        margin: 0 !important; 
        padding: 0 !important;
    }
}
