.blog
{
    width: fit-content;
    display: block;
}
.blogHead{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.8rem 0;
    font-family: 'Open Sans';
}

.title{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 32px;
    font-family: 'Poppins';
}
.authorDetails {
    float: left;
}
.blogDetails {
    float: right;
}

@media (max-width: 590px) {
  .blogGrid {
    width: 100% !important;
  }
}