.blog-container {
    display: flex !important; /* Can someone get rid of this 'important' :( */
    flex-direction: column;
    align-items: center;
    margin: 5.4em 0 0 0;
    background: radial-gradient(100% 130.3% at 100% 94.53%, rgba(112, 199, 142, 0.33) 0%, rgba(112, 199, 142, 0) 100%), radial-gradient(100% 130.3% at 0% 94.53%, rgba(221, 92, 147, 0.33) 0%, rgba(221, 92, 147, 0) 100%), #E3EBFE;
    flex-grow: 1;
    flex-shrink: 0;
}

.blog-group-container {
    flex-grow: 1;
    flex-shrink: 0;
}

.margin{
    margin: 0 21.5rem 0 14.7rem;
}

.head{
    font-family: 'Archivo';
    font-size: 3.2rem;
    font-weight: 700;
    margin: 10.3rem 0 5.6rem 0 !important;
    text-align: center;
}

.container {
    background-color: #DEE8FF;
    padding: 2rem 1rem 1rem 1rem;
    width: 100%;
}

.description {
    font-size: 16px;
}

h1{
    padding-bottom: 15px;
    font-size: 2.6rem;
}

h4{
    text-transform: capitalize;
    font-weight: 700;
    font-size: 1.3rem;
}

.container{
    display: flex;
    justify-content: space-between;
}

.blog{
    display: flex;
    justify-content: space-between;
}

.blogHead{
    font-weight: 700;
    font-size: 3.45rem;
    font-family: 'Archivo';
}
.gridContainer{
    display: flex;
    flex-direction: column;
}

.blogCategory{
    margin-bottom: 4.8rem;
}
.category{
    border-bottom: 1px solid #8C8C8C;
    padding: 0;
    font-size: 2.3rem;
    font-weight: 700;
    text-transform: capitalize;
    font-family: 'Archivo';
    line-height: 2.3rem;
    padding-bottom: 1.4rem;
}

.category-btn{
    font-family: 'Open Sans';
    cursor: pointer;
}

.heading{
  margin: 3rem 0 1rem 0 ;
  line-height: 72px;
}

.noPadding{
    padding: 0 !important;
}

@media (max-width: 990px) {
    .horizontalGrid{
        width: 100% !important;
        margin: 0 !important; 
        padding: 0 !important;
    }
}

@media (max-width: 1760px) {
  .margin{
    margin: 0 10.2rem !important;
  }
}

@media (max-width: 1650px) {
  .margin{
    margin: 0 6.1rem !important;
  }
}


@media (max-width: 1000px) {
  .margin{
    margin: 0 4rem !important;
  }
}

@media (max-width: 900px) {
  .margin{
    margin: 0 10rem !important;
  }
}

@media (max-width: 700px) {
  .margin{
    margin: 0 5rem !important;
  }
}

@media (max-width: 500px) {
  .margin{
    margin: 0 1.5rem !important;
  }
}
