.blog
{
    /* width: fit-content; */
    display: block;
    cursor: pointer;
    padding: 0 !important;
    margin: 0 !important;
}
.blogHead{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.8rem 0;
    font-family: 'Open Sans';
}

.title{
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 32px;
    font-family: 'Archivo';
    cursor: pointer;
}
.authorDetails {
    float: left;
}

.blogInfo{
    width: 100%;
}
.blogDetails {
    float: right;
}

.blogGrid{
    padding: 0 !important;
    margin-top: 2.1rem !important;
}

@media (max-width: 590px) {
  .blogGrid {
    width: 100% !important;
  }
}
