.container{
  background-color: #DEE8FF;
  text-align: left;
  width: 100vw;
  color :  #171818;
  z-index: -1;
  font-family: 'Archivo';
  font-weight: 500;
}

.sub-container{
  padding-top: 2rem;
  padding-bottom: 4rem;

}

.heading{
  font-weight: 700;
  padding: 2rem 0;
  font-size: 2.5rem;
  font-weight: 700;
  margin: 2rem 0;
}

.sub-section-heading{
  display: flex;
  justify-content: space-between;
}

.sub-section-heading-name{
  font-size: 1.5rem;
  font-family: "Poppins";
  font-weight: 700;
}

.sub-section-heading-view-more{
  font-size: 0.75rem;
}

.blog-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog-card{
  /* width: 30%; */
  margin: 1rem 0;
}

.blog-card-image{
  width: 18rem;
  height: 10.2rem;
  border-radius: 0.75rem;
}



.blog-card-description{
  font-size: 1rem;
  font-family: "Poppins";
  font-weight: 600;
  padding: 0 0.2rem;
}

.space{
  padding: 2rem;
}

.blog-card-meta{
display: flex;
justify-content: space-between;
font-family: "Open Sans";
font-weight: 700;
font-size: 0.5rem;
padding: 0 0.2rem;
}
