.container{
    background-color: #171818;
    text-align: left;
    width: 100vw;
    z-index: -1;
    font-family: 'Archivo';
    font-weight: 500;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.sub-container{
    padding-top: 4rem;
    padding-bottom: 8rem;

}

.we-are-heading{
    background: linear-gradient(90deg, #DEE8FF 0%, rgba(222, 232, 255, 0.8) 100%);
}

.we-are-active-heading{
    background: linear-gradient(90deg, rgba(222, 232, 255, 0.3) 0%, rgba(222, 232, 255, 0.24) 100%);
}

.we-are-not-active-heading{
    background: linear-gradient(90deg, rgba(222, 232, 255, 0.24) 0%, rgba(222, 232, 255, 0.3) 100%);
}

.we-are-not-heading{
    background: linear-gradient(90deg, rgba(222, 232, 255, 0.8) 0%, #DEE8FF 100%);
}

@keyframes sub-heading{
    from{opacity: 0;}
    to{opacity: 1;}
}

.sub-heading{
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #DEE8FF 0%, rgba(222, 232, 255, 0.8) 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "Archivo";
    font-style: "normal";
    font-weight: 700;
    font-size: "4rem";
    padding: "2rem";
}
.sub-heading-animation{
    animation: sub-heading 1s 1;
    animation-timing-function: ease;
}


.heading{
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: "Archivo";
    font-style: "normal";
    font-weight: 700;
    font-size: "4rem";
    padding: "2rem";
    cursor: pointer;
}


.right-align{
    display: flex;
    justify-content: flex-end;
    padding-top: 3rem;
}

.gradient-border{
    border-bottom: 1px solid rgba(240, 240, 240, 0.4);
}

.content{
    padding-top: 2rem;
}
