@import url(`https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css`);

/* social links */
.linksBox{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
    margin: 1.5rem 0;
}

.socialBox {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    break-inside: avoid;
    word-wrap: break-word;
    border: 1.5px solid #C4CBDB;
    border-radius: 0.9rem;
    max-width: 100%;
    height: fit-content;
}
.iconBox{
    border-radius: 0.6rem;
    margin: 0.3rem;
    padding: 0.5rem 0rem 0rem 0.2rem;
    background-color: rgba(248, 248, 248, 0.7);
    color: #171818;
}

.icons{
    font-size: 2.3rem !important;
}

div:has(> .icons[site="ins"]){
    background-color: rgba(221, 92, 147, 0.33);
}
.icons[site="ins"]{
    color: #F8395B;
}

.delBox{
    border-left: 2px solid #C4CBDB;
    padding: 0.4rem 0.4rem 0.4rem 0.8rem;
}
.deleteIcon{
    color: #F8395B;
    cursor: pointer;
    font-size: 1.4rem !important;
}

.container{
    display: flex;
    min-height: 100vh;
    padding: 6.7em 2.2em 2.1em 12.2em;
}

.headingBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.link {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 0.5em;
}

.toggle{
    margin-left: 1.3rem;
}

.head{
    margin-right: 1.5rem;
    font-family: 'Archivo';
    font-size: 2.3rem;
    font-weight: 600;
    line-height: 1.2em;
}

.heading{
    display: flex;
    justify-content: space-between;
    justify-content: space-between;
    padding-bottom: 2.5rem;
}

.labels{
    font-family: 'Open Sans';
    margin-bottom: 1.9rem !important;
    font-size: 1.2rem !important;
    font-weight: 700;
    line-height: 2rem;
    text-align: left;
}

label::after{
    display: none !important;
}
.projectBtn{
    padding: 0.7rem 1.1rem !important;
    background-color: transparent !important;
    font-family: 'Open Sans' !important;
    font-size: 0.9rem !important;
    font-weight: 600 !important;
    text-align: left !important;
    border-style: solid !important;
    border-width: 1px !important;
    border-radius: 0.6rem !important;
}

.lightModeChip{
    margin-bottom: 0 !important;
}

.grid{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.form{
    display: flex;
    width: 73%;
}

.profileColumn{
    width: 17.1rem !important;
    padding-top: 6.5rem !important;
}

.dataColumn{
    padding-left: 2.8rem !important;
    width: 80% !important;
}

.profileColumn > div{
    margin-bottom: 20px;
}

.dropdownInput{
    margin-top: 1.9rem !important;
}

.inputs{
    font-family: 'Open Sans' !important;
    font-size: 1.1rem !important;
    font-weight: 400;
    text-align: left;
    background: #D5DEF2 !important;
    border-radius: 0.7rem !important;
    border: none !important;
    padding: 1rem 0.8rem !important;
}

.darkInputs{
    color: #DEE8FF !important;
}
.inputs::placeholder{
    color: #777777 !important;
}

.imgInput{
    display: none;
}
.submit-btn{
    background: #171818 !important;
    display: block !important;
    color: white !important;
}

.url{
    width: 85%;
    overflow: auto;
    cursor: pointer;
}

a{
    color: #171818;
}

@media (max-width: 1330px) {
  .form{
    width: 90% !important;
  }
}

@media (max-width: 1150px) {
  .container{
    padding-left: 6rem;
   }
  .toggle{
    margin-right: 0.5rem;
  }
}

@media (max-width: 1040px) {
  .container{
    padding-left: 2.2rem;
   }
}

@media (max-width: 1000px) {
    .dataColumn{
        width: 60% !important;
        padding-left: 2rem !important;
   }
}

@media (max-width: 760px) {
    .grid{
        flex-direction: column-reverse;
        width: 100% !important;
        justify-content: space-between;
        /* position: relative; */
        /* order: 1; */
    }
    .form{
        width: auto !important;
    }
    .toggle{
        margin-left: auto;
        margin-bottom: 1.5rem;
    }
    /* 
  .toggle{
      align-self: flex-end;
      position: absolute;
   }
   */
   .profileColumn{
    /* margin-top: 3.5rem;
    padding: 0 1.3rem; */
    /* min-width: initial !important; */
   } 
}

@media (max-width: 620px) {
  .form{
    flex-direction: column;
  }
  .dataColumn{
    width: 100% !important;
    padding: 0 !important;
  }
  .profileColumn{
    padding-top: 0 !important;
  }
}

@media (max-width: 450px){
   .container{
    padding: 6.7em 1.3em 2.1em 1em;
   }
   .linksBox{
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
   }
}

@media (max-width: 300px){
   .container{
    padding-right: 3.6em;
   }
}