.margin{
    margin: 4.5rem 11rem 2rem 7rem;
}

.head, .heading, .subheading, .options {
  font-family: 'Archivo';
  text-align: center;
}

.head{
    margin: 5.2rem 0 3.5rem 0;
}

.heading {
  font-size: 2.9rem;
  font-weight: 600;
  color: #171818;
  margin-bottom: 0.7rem;
}

.subheading {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 30px;
}

.options {
  font-size: 1.7rem;
  font-weight: 600 !important;
  margin: 1.5rem 0 !important;
  text-align: left;
}

.memberCard {
  display: flex;
  width: 100%;
  gap: 2.3rem;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-right: 23rem;
  align-content: center;
  text-align: center;
}

.grid{
    margin-right: 10rem !important;
}
.tabChangeCol {
    
  width: 22.5% !important;
  /* margin-top: 10.5rem !important; */
  margin-top: 18rem; 
}

.tabCol {
  flex-grow: 1;
  margin-bottom: 1rem !important;
}

@media (max-width: 1750px) {
  .margin {
    margin-right: 5rem !important;
  }
}

.active{
    color: #171818;
    font-weight: 600;
}

.inactive{
    color: #17181899 !important;
}