.margin {
  margin-top: 5.4em;
  margin-bottom: 1.4em;
}

.sectionMargin{
    margin: 5.4em 2.5em 2em 7em;
  }

.container {
  background-color: #DEE8FF;
  padding: 2rem 1rem 1rem 1rem;
  width: 100%;
}

.previous-upload-button {
  margin-bottom: 1.4em !important;
}

.submit-button {
  display: block !important;
}

.f-link{
  transition: all 0.3s;
  font-size: 1.3rem;
  display: inline-block;
  border-radius: 2px;
  margin: 0.2em 0.6em 0 0;
  padding: 0.37em 0.2em 0.4em 0.4em;
  border-radius: 50%;
  background-color: #67676754;
}

.darkModeChip{
  display: inline-block;
  padding: 0.5rem 1.4rem;
  margin: 0.8rem;
  margin-left: 0;
  border: 1px solid #E3EBFE;
  border-radius: 2rem;
  font-family: 'Open Sans';
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.1rem;
  text-align: left;
  border-radius: 51px;
}

.lightModeChip{
  display: inline-block;
  padding: 0.5rem 1.4rem;
  margin: 16px;
  margin-left: 0;
  border-radius: 2rem;
  font-family: 'Open Sans';
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.1rem;
  text-align: left;
  border-radius: 51px;
}

.noPadding{
  padding: 0 !important;
}

div[site="github"]{
    background-color: #67676754;
}
div[styleName="f-link"] > i[class^="fab fa-"] {
  font-size: 18px;
  color: #fff;
}

div[styleName="f-link"][site="github"] {
  background-color: #24292e;
}

div[site="instagram"], div[site="dribbble"] {
  color: #e1306c;
  background-color: #DD5C9354;
}

div[site="facebook"] {
  color: #6AB0FB;
  background-color:#6AB0FB54;
}
