.margin {
  margin-top: 5.4em;
  margin-bottom: 1.4em;
}

.container {
  background-color: #DEE8FF;
  padding: 2rem 1rem 1rem 1rem;
  width: 100%;
}

.previous-upload-button {
  margin-bottom: 1.4em !important;
}

.submit-button {
  display: block !important;
}
