.navBar{
    display: flex;
    margin: 0 4.2rem 0 4.65rem !important;
    height: 4.4rem;
    justify-content: space-between;
    height: fit-content;
}

a{
    cursor: pointer;
}
.grpName a{
    color: #171818;
}

.linksCol a{
    color: #535353;
}

.linksCol > div{
    display: inline-block;
    margin-left: 6rem;
}
.grpName{
    /* display: inline-block; */
    font-size: 1.25rem;
    font-weight: 600;
}

.btn a {
  display: inline-block;
}

.btn{
    background-color: transparent;
    padding: 1.15em 0;
    font-family: 'Archivo';
    font-weight: 500;
    color: #535353;
    font-size: 1.25rem;
    transition: color 0.3s;
    border: none;
    outline: none;
}

div[name="culture"]{
    color: #7D69FF;
}